<ion-content color="dark">

    <ion-grid fixed>
        <ion-row>
            <ion-col>
                <h3>Peliculas en Cartelera</h3>
            </ion-col>
        </ion-row>
    </ion-grid>
    <app-slidesshows-cartelera [peliculas]="movieNowPlaying" (cargarMas)="cargarMas()"></app-slidesshows-cartelera>
    <!-- <app-slideshows-backdrop [peliculas]="movieNowPlaying" (cargarMas)="cargarMas()"></app-slideshows-backdrop> -->

    <ion-grid fixed>
        <ion-row>
            <ion-col>
                <h3>Series al Aire</h3>
            </ion-col>
        </ion-row>
    </ion-grid>
    <app-slidesshows-tv-aire [peliculas]="tvShowsAir" (cargarMas)="cargarMas()"></app-slidesshows-tv-aire>
    <!-- <app-poster-path [peliculas]="tvShowsAir" (cargarMas)="cargarMas()"></app-poster-path> -->

    <ion-grid fixed>
        <ion-row>
            <ion-col>
                <h3>Peliculas Populares</h3>
            </ion-col>
        </ion-row>
    </ion-grid>
    <app-slidesshows-populares [peliculas]="PeliculasPopulares" (cargarMas)="cargarMas()"></app-slidesshows-populares>



    <ion-grid fixed>
        <ion-row>
            <ion-col>
                <h3>Series Populares </h3>
            </ion-col>
        </ion-row>
    </ion-grid>
    <app-slidesshows-tv-populares></app-slidesshows-tv-populares>
    <!-- <app-slideshows-pares [peliculas]="PeliculasPopulares" (cargarMas)="cargarMas()"></app-slideshows-pares> -->



</ion-content>